<%= form_with(model: alumno_asignatura, local: true) do |form| %>
  <% if alumno_asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alumno_asignatura.errors.count, "error") %> prohibited this alumno_asignatura from being saved:</h2>

      <ul>
      <% alumno_asignatura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nota %>
    <%= form.text_field :nota %>
  </div>

  <div class="field">
    <%= form.label :ponderacion %>
    <%= form.text_field :ponderacion %>
  </div>

  <div class="field">
    <%= form.label :fecha_publicacion %>
    <%= form.date_select :fecha_publicacion %>
  </div>

  <div class="field">
    <%= form.label :asignatura_id %>
    <%= form.text_field :asignatura_id %>
  </div>

  <div class="field">
    <%= form.label :alumno_id %>
    <%= form.text_field :alumno_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
