<p id="notice"><%= notice %></p>

<h1>Alumno Asignaturas</h1>

<table>
  <thead>
    <tr>
      <th>Nota</th>
      <th>Ponderacion</th>
      <th>Fecha publicacion</th>
      <th>Asignatura</th>
      <th>Alumno</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumno_asignaturas.each do |alumno_asignatura| %>
      <tr>
        <td><%= alumno_asignatura.nota %></td>
        <td><%= alumno_asignatura.ponderacion %></td>
        <td><%= alumno_asignatura.fecha_publicacion %></td>
        <td><%= alumno_asignatura.asignatura %></td>
        <td><%= alumno_asignatura.alumno %></td>
        <td><%= link_to 'Show', alumno_asignatura %></td>
        <td><%= link_to 'Edit', edit_alumno_asignatura_path(alumno_asignatura) %></td>
        <td><%= link_to 'Destroy', alumno_asignatura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumno Asignatura', new_alumno_asignatura_path %>
