<p id="notice"><%= notice %></p>

<p>
  <strong>Nota:</strong>
  <%= @alumno_asignatura.nota %>
</p>

<p>
  <strong>Ponderacion:</strong>
  <%= @alumno_asignatura.ponderacion %>
</p>

<p>
  <strong>Fecha publicacion:</strong>
  <%= @alumno_asignatura.fecha_publicacion %>
</p>

<p>
  <strong>Asignatura:</strong>
  <%= @alumno_asignatura.asignatura %>
</p>

<p>
  <strong>Alumno:</strong>
  <%= @alumno_asignatura.alumno %>
</p>

<%= link_to 'Edit', edit_alumno_asignatura_path(@alumno_asignatura) %> |
<%= link_to 'Back', alumno_asignaturas_path %>
