<%= form_with(model: horario, local: true) do |form| %>
  <% if horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :programa %>
    <%= form.text_field :programa %>
  </div>

  <div class="field">
    <%= form.label :dia %>
    <%= form.text_field :dia %>
  </div>

  <div class="field">
    <%= form.label :bloque_horario %>
    <%= form.text_field :bloque_horario %>
  </div>

  <div class="field">
    <%= form.label :hora_inicio %>
    <%= form.text_field :hora_inicio %>
  </div>

  <div class="field">
    <%= form.label :hora_fin %>
    <%= form.text_field :hora_fin %>
  </div>

  <div class="field">
    <%= form.label :asignatura_id %>
    <%= form.text_field :asignatura_id %>
  </div>

  <div class="field">
    <%= form.label :sala_id %>
    <%= form.text_field :sala_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
