<p id="notice"><%= notice %></p>

<p>
  <strong>Programa:</strong>
  <%= @horario.programa %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @horario.dia %>
</p>

<p>
  <strong>Bloque horario:</strong>
  <%= @horario.bloque_horario %>
</p>

<p>
  <strong>Hora inicio:</strong>
  <%= @horario.hora_inicio %>
</p>

<p>
  <strong>Hora fin:</strong>
  <%= @horario.hora_fin %>
</p>

<p>
  <strong>Asignatura:</strong>
  <%= @horario.asignatura %>
</p>

<p>
  <strong>Sala:</strong>
  <%= @horario.sala %>
</p>

<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
