<p id="notice"><%= notice %></p>

<h1>Salas</h1>

<table>
  <thead>
    <tr>
      <th>Edificio</th>
      <th>Piso</th>
      <th>Nro sala</th>
      <th>Capacidad</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salas.each do |sala| %>
      <tr>
        <td><%= sala.edificio %></td>
        <td><%= sala.piso %></td>
        <td><%= sala.nro_sala %></td>
        <td><%= sala.capacidad %></td>
        <td><%= sala.tipo %></td>
        <td><%= link_to 'Show', sala %></td>
        <td><%= link_to 'Edit', edit_sala_path(sala) %></td>
        <td><%= link_to 'Destroy', sala, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sala', new_sala_path %>
