<p id="notice"><%= notice %></p>

<p>
  <strong>Edificio:</strong>
  <%= @sala.edificio %>
</p>

<p>
  <strong>Piso:</strong>
  <%= @sala.piso %>
</p>

<p>
  <strong>Nro sala:</strong>
  <%= @sala.nro_sala %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @sala.capacidad %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @sala.tipo %>
</p>

<%= link_to 'Edit', edit_sala_path(@sala) %> |
<%= link_to 'Back', salas_path %>
